@charset 'utf-8';
.wrapper {
  background-color: #f6f6f6;
}
.slide-wrap {
  overflow: hidden;
  position: relative;
  max-width: 960px;
  padding: 80px 0 100px;
  margin: 0 auto;
}

.slide-container {
  position: absolute;
  width: 100%;
  transition: left 0.3s ease-in;
}

.slide {
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 100%;
  padding: 0 10%;
  text-align: center;
}

blockquote {
  color: #636363;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 30px;
}

cite {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

/* Nav */
#prev,
#next {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translateY(-50%);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease-in;
}

#prev.disabled,
#next.disabled {
  display: none;
}

#prev {
  margin: 0 0 0 -480px;
  background-image: url("arrow-left-out.svg");
}

#prev:hover {
  background-image: url("arrow-left-over.svg");
}

#next {
  margin: 0 0 0 400px;
  background-image: url("arrow-right-out.svg");
}

#next:hover {
  background-image: url("arrow-right-over.svg");
}
